body { 
    background-color: rgb(84, 158, 231);
    color: blue;
}

header {
    color: white;
    font-family: Distraught;
}

@font-face {
    font-family: Distraught;
    src: url("DistraughtItalic-d8EX"); 
}
