body {
    background-color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
    font-family: Distraught;
    src: url("DistraughtItalic-d8EX.woff");
}

h1 {
    font-family: Distraught;
    font-size: 50px;
}