body {
    background-color: white;
    color: black
}

@font-face {
    font-family: dragyoudown;
    src: url("DragYouDown-d88V.otf");
}

@font-face {
    font-family: roboto;
    src: url("Roboto-Regular.ttf");
}

header {
    background-color: white;
    text-align: center;
    font-family: dragyoudown;
    color: black;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 30px;

}

div.details {
    font-family: roboto;
    font-size: 10px;
    color: black;
}

div.text {
    font-family: roboto;
    font-size: 16px;
    margin-bottom: 10px;
}

div.quote {
    font-family: dragyoudown;
    color: black;
    font-style: italic;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

div.quoteauthor {
    font-family: roboto;
    color: black;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}

div.emoji {
    background-color: white;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.image {
    text-align: center;
    margin-top: 50px;
}